{{> head}}
{{> navbar }}
<div class="row">

    <div class="col-8">
        <h1>Hola</h1>
        <p> lorem ipsum dolor sit amet con et just</p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/mind.png" alt="limits-mind" width="300 px" height="170 px">
    </div>
</div>

{{> footer }}
